.main-container{
  margin-top:85px;
  min-height:120vh;
  margin-right:15px;
  margin-left:15px;
}

.footer{
  
    height: 50px;
    background-color: #000000;
   
}
@media(min-width:540px){
  .main-container{
    margin-top:85px;
    min-height:120vh;
    margin-right:30px;
    margin-left:30px;
  }
}

@media(min-width:768px){
  .main-container{
    margin-top:85px;
    min-height:120vh;
    margin-right:10.41%!important;
    margin-left:10.41%!important;
  }
}
